.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1350px;
}
.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 600px;
}
.main {
    padding: 80px 0px;
    height: 100%;
}
.menu {
    margin: 0;
    padding: 0;
    background-color: rgba(25, 23, 20, 0.24);
    position: fixed;
    z-index: 1;
}
.menu a {
    color: white;
}
.menu a:hover {
    color: #359baf;
}
.menu-text {
    font-size: 2em;
    color: #359baf;
}
.placeholder {
    display: block;
    border: solid 3px transparent;
    width: 400px;
    height: 200px;
}
.heads {
    text-shadow: 0 4px 10px #3a177c;
    color: #100a0a;
}
.one {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 660px;
    /*    width: 100%;*/
    /*    max-width: 1350px;*/
    /*    max-height: 1350px;*/
}
.bgc {
    background-color: #359baf;
    padding-bottom: 20px;
    text-align: center;
}
.menu-centered a {
    color: white;
    font-size: 1.4em;
}
.menu-centered a:hover {
    transition: 2s;
    color: #359BAF;
}
.btn-default {
    border-radius: 3px;
    background-color: #0a0808;
    color: white;
}
.columns {
    margin: 0;
}
.row {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.row h1 {
    text-align: center;
    color: #FFF;
}
.menu li {
    margin: auto;
}
.button.success {
    background-color: #222;
    width: 160px;
}
.input {
    border-radius: 3px;
}

/* Animated logo */

@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
    background: #ededed;
    max-width: 1350px;
    height: auto;
    margin: auto;
}
.holder {
    position: relative;
    width: 100%;
    height: 440px;
    display: block;
    max-width: 1350px;
    margin: 0 auto;
}
#layer-1 {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.shape-4,
.shape-5,
.shape-6 {}
.shape-1,
.shape-4 {
    opacity: 0.2;
}
.shape-2,
.shape-5 {
    opacity: 0.5;
}
.shape-3,
.shape-6 {
    opacity: 0.5;
}
h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.7em;
    letter-spacing: 0.2px;
    color: #574848;
    position: absolute;
    top: 48%;
    left: 30%;
}
h4 span {
    color: #198f93;
}
.anime {
    max-width: 100%;
}
.icons a {
    text-align: center;
}
#prtofolio {
    background-color: #222;
    height: 100%;
}
#msg {
    height: 180px;
}
.media {
    margin: 0;
}
.media li {
    display: inline-block;
    list-style: none;
    font-size: 2em;
}
.media a {
    color: white;
    padding: 18px;
    text-align: center;
}
.media a:hover {
    transition: 2s;
    color: #222;
}
.texting {
    margin-top: 300px;
    text-align: right;
}
.about {
    margin-top: 250px;
    text-align: center;
    /*/ margin-left: 12px;*/
    */ color: #222;
}
.about li {
    font-size: 1.5em;
}
.ul {
    list-style: none;
}
span {
    color: #359BAF;
}
span {
    color: #359BAF;
    font-size: 1.4em;
}
.menu-centered li {
    padding: 12px;
    list-style: none;
    display: inline-block;
}
.menu-centered {
    background: rgba(0, 0, 0, 0.21);
    position: fixed;
    z-index: 1;
}
.name h1 {
    font-size: 5em;
}
.name h2 {
    font-size: 3em;
    color: #FFF;
}
.name {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.21);
}
.links a {
    color: white;
    font-size: 2em;
}
.links a:hover {
    transition: 2s;
    color: #359BAF;
}
